body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-titillium-web: "Titillium Web";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.19rem;
  --font-size-base: 1rem;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue: #002570;
  --color-steelblue-100: #0e7abf;
  --color-steelblue-200: rgba(14, 122, 191, 0.94);
  --primary-text: #1d2130;
  --black: #0b0706;
  --color-black: #000;
  --color-gainsboro: #e6e6e6;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-28xl: 2.94rem;
  --gap-4xl: 1.44rem;
  --gap-3xs: 0.63rem;
  --gap-37xl: 3.5rem;
  --gap-9xl: 1.75rem;
  --gap-11xl: 1.88rem;

  /* Paddings */
  --padding-52xl: 4.44rem;
  --padding-58xl: 4.81rem;
  --padding-xl: 1.25rem;
  --padding-16xl: 2.19rem;
  --padding-31xl: 3.13rem;
  --padding-12xs: 0.06rem;
  --padding-11xl: 1.88rem;
  --padding-2xl: 1.31rem;
  --padding-5xl: 1.5rem;
  --padding-62xl: 5.06rem;
  --padding-51xl: 4.38rem;
  --padding-3xs: 0.63rem;
  --padding-base: 1rem;
  --padding-8xs: 0.31rem;
  --padding-sm: 0.88rem;
  --padding-7xl: 1.63rem;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-xl: 20px;
  --br-2xl: 21px;
  --br-40xl: 59px;
}
