@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.navigationBar{
  background-color: aqua;
}


h1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

h1 .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

h1 ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 ul li{
  position: relative;
  list-style: none;
}

h1 ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

h1.sticky{
  padding: 5px 100px;
  background: #fff;
}

h1.sticky .logo{
  color: #000;
}

h1.sticky ul li a{
  color: #000;

}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;

}

ul li{
 list-style: none;

}

ul li{
  color: wheat;
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}


/*2nd nav bar*/


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 100000;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}




/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/




/* chenge the traiger when the sidebar collapsed */
.course-layouts.course-sidebar-collapse .course-header .btn-back i::before {
  content: "\e98f";
}

.pexels-hung-tran-3699434-1-icon {
  width: 109.38rem;
  height: 58.75rem;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.image-2-icon {
  position: absolute;
  top: 3.03rem;
  left: -0.02rem;
  width: 79.49rem;
  height: 12.68rem;
  object-fit: cover;
  z-index: 1;
}
.group-icon {
  position: absolute;
  top: 0.02rem;
  left: 71.5rem;
  width: 4.83rem;
  height: 5.94rem;
  z-index: 2;
}
.image-vector {
  align-self: stretch;
  height: 15.69rem;
  position: relative;
}
.video-button {
  height: 3.91rem;
  width: 12.19rem;
  display: none;
}
.secondary-button-text {
  height: 2.31rem;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-titillium-web);
  color: #0d7bc0;
  text-align: right;
  display: inline-block;
}
.button-row,
.secondary-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.secondary-button {
  border: 0;
  padding: 1.13rem;
  background-color: var(--color-white);
  width: 15.94rem;
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.secondary-button2:hover,
.secondary-button:hover {
  background-color: var(--color-gainsboro);
}
.button-row {
  flex: 1;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
.statistics-frame {
  width: 34.75rem;
  flex-direction: row;
  padding: 0 2rem;
  box-sizing: border-box;
}
.frame-wrapper,
.image-vector-parent,
.statistics-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image-vector-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.frame-wrapper {
  width: 80.81rem;
  flex-direction: row;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
}
.statistics-icon {
  width: 61.31rem;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}
.objective-group {
  width: 80.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.pexels-hung-tran-3699434-1-parent,
.root-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.pexels-hung-tran-3699434-1-parent {
  width: 109.44rem;
  flex-direction: column;
  align-items: center;
  padding: 18.69rem 17.81rem 2.5rem var(--padding-xl);
  gap: 14rem;
  background-image: url(./public/pexelshungtran3699434-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 101%;
}
.root-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  max-width: 100%;
}
.inspire-other-businesses-frame-child {
  height: 15.81rem;
  width: 15.81rem;
  position: absolute;
  margin: 0 !important;
  right: 9.45rem;
  bottom: -12.62rem;
  object-fit: contain;
}
.project-instance-child {
  height: 33.63rem;
  width: 110.88rem;
  position: relative;
  border-radius: var(--br-40xl);
  background-color: var(--color-steelblue-100);
  display: none;
  max-width: 100%;
}
.image-6-icon {
  width: 54.75rem;
  height: 12.44rem;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  z-index: 4;
}
.como-miembro-fundador,
.mareslimpios-compromisonirsa,
.nete-a-nosotros-en-la-lucha-co {
  margin: 0;
}
.como-miembro-fundador-container {
  width: 73.31rem;
  height: 6.56rem;
  position: relative;
  line-height: 160%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 4;
}
.image-logo-vector-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.01rem;
  bottom: 0.03rem;
  left: -0.01rem;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.image-logo-vector,
.project-instance {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.image-logo-vector {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl) 10.38rem var(--padding-31xl);
  position: relative;
  gap: 0.81rem;
}
.project-instance {
  border-radius: var(--br-40xl);
  background-color: var(--color-steelblue-100);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0.94rem var(--padding-7xl) var(--padding-7xl) 2.06rem;
  z-index: 3;
}
.inspire-other-businesses-frame-item {
  height: 22.94rem;
  width: 23.25rem;
  position: absolute;
  margin: 0 !important;
  right: 44.19rem;
  bottom: -10.56rem;
  object-fit: cover;
  z-index: 4;
}
.inspire-other-businesses-frame {
  width: 110.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 103%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
.group-icon1 {
  height: 4.22rem;
  width: 3.43rem;
  position: relative;
  display: none;
}
.modalintro1 {
  width: 33rem;
  height: 4.19rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.group-icon2 {
  width: 3.43rem;
  position: absolute;
  margin: 0 !important;
  top: 13.63rem;
  right: 28.01rem;
  height: 4.22rem;
}
.proposito-child,
.proposito-item {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.proposito-child {
  width: 9.39rem;
  height: 9.39rem;
  top: 0.57rem;
  right: 20.39rem;
}
.proposito-item {
  width: 10.93rem;
  height: 10.93rem;
  top: 10.22rem;
  right: 0;
}
.proposito-inner {
  width: 9.39rem;
  height: 9.39rem;
  top: 1.32rem;
  left: 20.39rem;
}
.proposito-child1,
.proposito-child2,
.proposito-inner {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.proposito-child1 {
  width: 15.81rem;
  height: 15.81rem;
  top: 0;
  left: 5.66rem;
  z-index: 1;
}
.proposito-child2 {
  width: 10.93rem;
  height: 10.93rem;
  top: 10.97rem;
  left: 0;
  z-index: 2;
}
.image-7-icon {
  width: 44.38rem;
  height: 7.5rem;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.modo-de-aislamiento-icon {
  height: 10.5rem;
  width: 10.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inspirationgroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.81rem 0 0;
}
.inspirar-a-otras {
  align-self: stretch;
  height: 14.25rem;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
}
.inspirationgroup-parent {
  width: 19.69rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.modo-de-aislamiento-icon1 {
  width: 10.5rem;
  height: 10.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contribuir-directamente-al {
  align-self: stretch;
  height: 16.63rem;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
}
.modo-de-aislamiento-parent {
  width: 20.13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.frame-child {
  width: 10.51rem;
  height: 10.5rem;
  position: relative;
}
.educar-a-la {
  align-self: stretch;
  height: 16.63rem;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
}
.frame-group {
  width: 24.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.frame-item {
  width: 10.51rem;
  height: 10.5rem;
  position: relative;
}
.servir-como-un {
  align-self: stretch;
  height: 14.25rem;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
}
.frame-container,
.frame-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 23.63rem;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-11xl);
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-37xl);
}
.secondary-button-text1 {
  height: 2.31rem;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.secondary-button1 {
  width: 15.56rem;
  border-radius: var(--br-9xs);
  background-color: #80e083;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
  box-sizing: border-box;
  white-space: nowrap;
}
.frame-stats {
  width: 18.81rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  color: var(--color-white);
}
.directlycontribute,
.proposito {
  align-self: stretch;
  justify-content: flex-start;
}
.directlycontribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 100%;
  flex-shrink: 0;
}
.proposito {
  height: 61.44rem;
  padding: 14.19rem 3rem 0 6.31rem;
  box-sizing: border-box;
  position: relative;
  gap: 4.94rem;
  z-index: 1;
}
.modalintro,
.modalintro2,
.proposito {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.modalintro2 {
  align-self: stretch;
  justify-content: center;
  position: relative;
}
.modalintro {
  flex: 1;
  justify-content: flex-start;
  gap: 26.88rem;
}
.framecontainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0.75rem 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-titillium-web);
}
.mapa-icon,
.pexels-valeriya-kobzar-8465157-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mapa-icon {
  margin: 0 !important;
  bottom: 0.03rem;
}
.pexels-valeriya-kobzar-8465157-icon {
  bottom: 0.07rem;
  border-radius: var(--br-2xl);
  object-fit: cover;
}
.project-instance1,
.tint {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.tint {
  right: 0.01rem;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--black);
  opacity: 0.6;
  z-index: 1;
}
.project-instance1 {
  margin: 0 !important;
  right: 0;
  left: 0.31rem;
}
.image-12-icon {
  width: 16.34rem;
  height: 6.38rem;
  position: relative;
  object-fit: cover;
}
.es-una-rueda {
  height: 8.92rem;
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.info-frame,
.rueda-de-prensa {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.rueda-de-prensa {
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.info-frame {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.secondary-button-text2 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-text);
  text-align: right;
}
.secondary-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sign-up-button-group {
  width: 7.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.capture-screenshots1,
.content,
.project {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-28xl);
  z-index: 2;
}
.capture-screenshots1,
.project {
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
.project {
  width: 38rem;
  justify-content: center;
  padding: var(--padding-62xl) var(--padding-51xl);
  min-height: 35rem;
  z-index: 1;
}
.capture-screenshots1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 11.19rem 19.25rem;
  min-height: 63.56rem;
}
.layer-1-icon {
  width: 6.81rem;
  height: 1.38rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group-icon3 {
  width: 2.64rem;
  height: 3.17rem;
  position: absolute;
  margin: 0 !important;
  bottom: 1.58rem;
  left: 32rem;
}
.capture-screenshots {
  width: 97.63rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 3.44rem;
  max-width: 100%;
}
.background,
.menu-icon {
  max-width: 100%;
  flex-shrink: 0;
}
.background {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3.75rem;
  box-sizing: border-box;
  min-height: 71.31rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
.menu-icon {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -1.56rem;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 7.5rem;
  object-fit: contain;
  z-index: 1;
}
.captura-de-pantalla-2023-11-28 {
  height: 7.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 28.13rem;
}
.captura-de-pantalla-2023-11-281 {
  width: 42rem;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.captura-de-pantalla-2023-11-282 {
  align-self: stretch;
  height: 6.88rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.email-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5rem;
  box-sizing: border-box;
  min-width: 27.75rem;
  max-width: 100%;
}
.captura-de-pantalla-2023-11-28-parent,
.capture-frames-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
}
.captura-de-pantalla-2023-11-28-parent {
  width: 129.75rem;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0.88rem;
  max-width: 105%;
}
.capture-frames-inner {
  width: 123.75rem;
  align-items: flex-start;
  padding: 0;
  max-width: 115%;
}
.capture-frames,
.infrmate-ms {
  align-self: stretch;
  flex-shrink: 0;
}
.capture-frames {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  min-height: 9.06rem;
  max-width: 100%;
}
.infrmate-ms {
  margin: 0;
  height: 8.25rem;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.para-obtener-informacin {
  width: 25.44rem;
  height: 4.75rem;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 160%;
  font-weight: 600;
  font-family: var(--font-titillium-web);
  color: var(--color-black);
  display: inline-block;
  max-width: 100%;
  z-index: 3;
  margin-top: -3.06rem;
}
.inform-more {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.input {
  height: 4.75rem;
  width: 22.13rem;
  position: relative;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.tu-email {
  height: 1.39rem;
  position: relative;
  display: inline-block;
  opacity: 0.8;
  z-index: 3;
}
.rectangle {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-2xl) var(--padding-5xl);
  min-width: 4.13rem;
  max-width: 100%;
  white-space: nowrap;
  z-index: 2;
}
.secondary-button-text3 {
  position: relative;
  font-weight: 500;
}
.secondary-button3 {
  width: 8.88rem;
  border-radius: var(--br-9xs);
  background-color: var(--color-steelblue-200);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
  box-sizing: border-box;
  z-index: 3;
  margin-left: -0.5rem;
  text-align: right;
  color: var(--primary-text);
}
.join-the-team,
.programs-events,
.sobre-nosotros-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sobre-nosotros-frame {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
}
.join-the-team,
.programs-events {
  flex-direction: column;
  box-sizing: border-box;
}
.join-the-team {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0.44rem;
}
.programs-events {
  width: 30.75rem;
  padding: 2.38rem 0 0;
}
.blank-line,
.blank-line1,
.blank-line2,
.eventos,
.nete-al-equipo,
.programas,
.sobre-nosotros {
  margin: 0;
}
.sobre-nosotros-programas-container {
  height: 19rem;
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.capture-group {
  position: absolute;
  top: 0;
  left: 0.31rem;
  background-color: #72d0f6;
  width: 100%;
  height: 100%;
}
.group-icon4 {
  width: 123.58rem;
  position: absolute;
  margin: 0 !important;
  top: -20.7rem;
  right: -98.61rem;
  height: 48.06rem;
}
.group-icon5 {
  height: 18.19rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.signup-button {
  position: absolute;
  top: 4.25rem;
  left: 0;
  width: 15.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  height: 29rem;
  width: 108.31rem;
  position: absolute;
  margin: 0 !important;
  top: -5.19rem;
  left: -91.25rem;
}
.infomate-more {
  width: 12.63rem;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
  font-family: var(--font-titillium-web);
}
.about-us-frame,
.home,
.infomate-more {
  display: flex;
  align-items: flex-start;
}
.about-us-frame {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 21.56rem var(--padding-52xl) var(--padding-58xl) 38.63rem;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 4rem;
  color: var(--color-steelblue-200);
  font-family: var(--font-roboto);
}
.home {
  width: 100%;
  height: 281.56rem;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .frame-parent {
    flex-wrap: wrap;
  }
  .proposito {
    height: auto;
  }
  .about-us-frame {
    flex-wrap: wrap;
  }
  .home {
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  .pexels-hung-tran-3699434-1-parent {
    gap: 7rem;
    padding-top: 12.13rem;
    padding-right: 8.88rem;
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .image-logo-vector {
    padding-left: 1.56rem;
    box-sizing: border-box;
  }
  .proposito {
    padding-top: 9.25rem;
    box-sizing: border-box;
  }
  .capture-screenshots1 {
    padding: 7.25rem 9.63rem;
    box-sizing: border-box;
  }
  .background {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .pexels-hung-tran-3699434-1-parent {
    gap: var(--gap-37xl);
    padding-top: 7.88rem;
    padding-right: var(--padding-52xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .image-logo-vector,
  .project-instance {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .image-logo-vector {
    padding-bottom: 6.75rem;
  }
  .project-instance {
    padding-bottom: var(--padding-xl);
  }
  .frame-parent {
    gap: var(--gap-9xl);
  }
  .directlycontribute {
    gap: var(--gap-xl);
  }
  .proposito {
    gap: 2.44rem;
    padding-left: var(--padding-31xl);
    padding-top: 6rem;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .modalintro {
    gap: 13.44rem;
  }
  .content {
    gap: var(--gap-4xl);
  }
  .project {
    padding: 3.31rem var(--padding-16xl);
    box-sizing: border-box;
  }
  .capture-screenshots1 {
    padding-left: var(--padding-58xl);
    padding-right: var(--padding-58xl);
    box-sizing: border-box;
  }
  .capture-screenshots {
    gap: 1.69rem;
  }
  .captura-de-pantalla-2023-11-28,
  .email-input {
    min-width: 100%;
  }
  .infrmate-ms {
    font-size: 3.19rem;
    line-height: 4.5rem;
  }
  .about-us-frame {
    padding: 14rem var(--padding-16xl) var(--padding-31xl) 19.31rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .pexels-hung-tran-3699434-1-parent {
    gap: var(--gap-9xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .como-miembro-fundador-container,
  .contribuir-directamente-al,
  .educar-a-la,
  .inspirar-a-otras,
  .servir-como-un {
    font-size: var(--font-size-lgi);
    line-height: 1.94rem;
  }
  .proposito {
    gap: var(--gap-xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .modalintro {
    gap: 6.69rem;
  }
  .capture-screenshots1 {
    padding: 4.69rem var(--padding-xl);
    box-sizing: border-box;
  }
  .infrmate-ms {
    font-size: 2.38rem;
    line-height: 3.38rem;
  }
  .para-obtener-informacin {
    font-size: var(--font-size-lgi);
    line-height: 1.94rem;
  }
  .secondary-button3 {
    margin-left: 0;
  }
  .sobre-nosotros-frame {
    flex-wrap: wrap;
  }
  .sobre-nosotros-programas-container {
    font-size: var(--font-size-lgi);
    line-height: 1.94rem;
  }
  .about-us-frame {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
