.pexels-valeriya-kobzar-8465157-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.07rem;
  left: 0;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-frame,
.tint1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.tint1 {
  right: 0.01rem;
  border-radius: var(--br-xl);
  background-color: var(--black);
  opacity: 0.6;
  z-index: 1;
}
.component-frame {
  margin: 0 !important;
  right: 0;
}
.image-12-icon1 {
  width: 16.34rem;
  height: 6.38rem;
  position: relative;
  object-fit: cover;
}
.es-una-rueda1 {
  height: 8.92rem;
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
}
.es-rueda-prensa-text,
.sub-heading-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.es-rueda-prensa-text {
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.sub-heading-frame {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.secondary-button-text5 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--primary-text);
  text-align: right;
}
.secondary-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secondary-button4:hover {
  background-color: var(--color-gainsboro);
}
.secondary-button-text4 {
  width: 7.88rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.content1,
.project1,
.secondary-button-text4 {
  display: flex;
  box-sizing: border-box;
}
.content1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-28xl);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-titillium-web);
}
.project1 {
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 8rem var(--padding-51xl) var(--padding-62xl) 4.06rem;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .content1 {
    gap: var(--gap-4xl);
  }
  .project1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
